{% load static %}

{% include 'layout.html' %}

{% block body %}

<div class="content">
	 <div class="container">
		 <div class="content-grids">
			 <div class="col-md-8 content-main">
				 <div class="content-grid">
                    <h3>Makale Arşivi</h3>
                    <hr>

                    {% for article in articles%}
                        {% if article %}
                            <li><a href="{% url 'article:article' article.id %}">{{article.title}}</a></li>
                        {% endif %}
                    {% endfor %}

                 </div>
			  </div>

             {% include 'includes/sidebar.html' %}

		  </div>
	  </div>
</div>

{% endblock body %}

{% include 'includes/footer.html' %}